.dicom-viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.viewer-container {
  flex-grow: 1;
  border: 1px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #aaa;
}

.controls {
  padding-block: 30px;
  padding-left: 5px;
}

.dicom-select {
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background-color: #4361ee;
  color: white;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
  -webkit-appearance: none; /* Remove default arrow */
  -moz-appearance: none;
  appearance: none;
  background-position: right 10px center;
}

.dicom-select:hover {
  background-color: #3a56d4; /* Darker shade on hover */
}

.dicom-select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(67, 97, 238, 0.4);
}

/* Range slider styles */
.confidence-slider-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.confidence-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

.confidence-slider-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}
