.action-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 20px; /* Add some margin */
}

.action-container h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: #333;
}

.action-container button,
.action-container a {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.action-container button:hover,
.action-container a:hover {
  background-color: #0056b3;
}
