.live-demo-page {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  background-color: #ffc107;
  padding: 10px;
  text-align: center;
}

.split-view {
  display: flex;
  flex-grow: 1;
}

.left-pane {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 20px;
  background-color: #f5f5f5;
}

.right-pane {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.left-pane h2,
.right-pane h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #333; /* Darker color for the headings */
}