.live-demo-page {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  background-color: #ffc107;
  padding: 10px;
  text-align: center;
}

.demo-content {
  padding: 20px;
}

.demo-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  color: #fff;
}